
<form action="/admin/users/add" method="post" data-th-object="${userEntity}">
    <div class="mb-3">
        <label data-th-for="email" class="form-label"> Email</label>
        <input class="form-control form-control-lg alert alert-secondary" role="alert" type="email"
               data-th-field="*{email}"
               placeholder="tartampion.fr"
               required><!--patern avec expression reguliere-->
        <span data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}">Email Error</span>
    </div>
    <div class="mb-3">
        <label data-th-for="password" class="form-label"> Mot de Passe</label>
        <input class="form-control form-control-lg" type="password"
               data-th-field="*{password}"
               placeholder="password">
        <span data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}">Password Error</span>
    </div>
    <div class="mb-3">
        <label data-th-for="confirmPassword" class="form-label">Confirmation Mot de Passe</label>
        <input class="form-control form-control-lg" type="password"
               data-th-field="*{confirmPassword}"
               placeholder="confirmPassword">
        <span data-th-if="${#fields.hasErrors('confirmPassword')}" data-th-errors="*{confirmPassword}">Password Error</span>
    </div>
    <div class="mb-3">
        <label data-th-for="gender" class="form-label"> Civilité</label>
        <select class="form-select" aria-label="Disabled select example btn-info" data-th-field="*{gender}">
            <option data-th-each="g : ${T(fr.formation.webflix.enums.Gender).values()}" data-th-text="${g}" data-th-value="${g}"></option>
            <!-- T(fr.formation.webflix.enums.Gender).values() va directement chercher les valeur dans l'enum gender -->
        </select>
    </div>


    <div class="mb-3">
        <label data-th-for="firstname" class="form-label"> prénom</label>
        <input class="form-control form-control-lg" type="text"
               data-th-field="*{firstname}">
    </div>
    <div class="mb-3">
        <label data-th-for="lastname" class="form-label"> nom</label>
        <input class="form-control form-control-lg" type="text"
               data-th-field="*{lastname}">
    </div>
    <div class="mb-3">
        <label data-th-for="country" class="form-label"> country</label>
        <input class="form-control form-control-lg" type="text"
               data-th-field="*{country}">
    </div>
    <div class="mb-3">
        <button class="mb-3 form-control form-control-lg btn btn-primary "type="submit">Valider</button>
        <button class="mb-3 form-control form-control-lg btn btn-warning" type="submit">Effacer</button>
    </div>
</form>

